* Aula 27/09/2022 - Aplicando definições em CSS - Projeto GamerPRO */
body, ul {
    margin: 0px;
    padding: 0px;
}
a {
   color: black;
   text-decoration: none;
   font-family: sans-serif; 
}
#header #menu a:hover {
    background: rgb(114, 0, 180); 
}
#logo img {
    float: left;
    height: 80px;
    position: relative;
    top: 5px;
    left: 10px;
}

#header {
    width: 100%;
    position: relative; /* Adicionando Position e Z-Index */
    z-index: 90;
    box-sizing: border-box;
    height: 105px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(114, 0, 180);
    gap: 30px;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    gap: 0.5rem;
}
#carouselExampleInterval img {
    height: 800px;
    width: auto;
}

@media (max-width: 600px) {
    @import url(https://fonts.googleapis.com/css?family=Raleway);
    h2 {
      vertical-align: center;
      text-align: center;
    }
    
    html, body {
      margin: 0;
      height: 100%;
    }
    
    * {
      font-family: "Raleway";
      box-sizing: border-box;
    }
    
    .top-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #00BAF0;
      background: linear-gradient(to left, #f46b45, #eea849);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #FFF;
      height: 50px;
      padding: 1em;
    }
    
    .menu {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    .menu > li {
      margin: 0 1rem;
      overflow: hidden;
    }
    
    .menu-button-container {
      display: none;
      height: 100%;
      width: 30px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    #menu-toggle {
      display: none;
    }
    
    .menu-button,
    .menu-button::before,
    .menu-button::after {
      display: block;
      background-color: #fff;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }
    
    .menu-button::before {
      content: '';
      margin-top: -8px;
    }
    
    .menu-button::after {
      content: '';
      margin-top: 8px;
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button {
      background: rgba(255, 255, 255, 0);
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }
    
    @media (max-width: 700px) {
      .menu-button-container {
        display: flex;
      }
      .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
    }
    View Compiled
    
    
    Resources
    }
    /* CSS Contato */

    .form_main {
        width: 100%;
    }
    .form_main h4 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 15px;
        margin-top: 20px;
        text-transform: uppercase;
    }
    .heading {
        border-bottom: 1px solid #fcab0e;
        padding-bottom: 9px;
        position: relative;
    }
    .heading span {
        background: #9e6600 none repeat scroll 0 0;
        bottom: -2px;
        height: 3px;
        left: 0;
        position: absolute;
        width: 75px;
    }
    .form {
        border-radius: 7px;
        padding: 6px;
    }
    .txt[type="text"] {
        border: 1px solid rgb(114, 0, 180);
        margin: 10px 0;
        padding: 10px 0 10px 5px;
        width: 100%;
    }
    .text_3[type="text"] {
        margin: 10px 0 0;
        padding: 10px 0 10px 5px;
        width: 100%;
    }
    .txt2[type="submit"] {
        background: #242424 none repeat scroll 0 0;
        border: 1px solid rgb(114, 0, 180);
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        line-height: 35px;
        margin: 10px 0;
        padding: 0;
        text-transform: uppercase;
        width: 30%;
    }
    .txt2:hover {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        color: rgb(114, 0, 180);
        transition: all 0.5s ease 0s;
    }


    

}

/* CSS configurando Banner */

.section-banner-home {
    width: 100%;
    height: auto;
    padding: 50px;
    margin: 18px auto;
    background-color: rgb(114, 0, 180);
}

.img-fluid {
    height: 300px;
    margin-right: 100px;
}

.section-banner-home img {
    height: 300px;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px; /* Margem interna do texto */
    color: #fff;
}

.section-banner-home .texto-banner p {
    font-size: 18px;
    margin-bottom: 20px; /* Margem externa abaixo do texto */
    color: #fff;
}
.section-banner-home .texto-banner a {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 4px 14px;
    font-size: 15px;
}
/* CSS Destaque */
.destaque h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.destaque a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgb(114, 0, 180);
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}
/* Fim CSS Destaque */
/* Início CSS Novidades */
.novidades {
    background-color:rgb(114, 0, 180);
    padding: 50px;
}
.novidades .text-body{
    width: 80%;
    margin: 70px auto;
}
.novidades h2 {
    color: #fff;
}
.novidades p {
    color: #fff;
}
.novidades a {
    color: #000;
    text-decoration: underline;
    text-decoration-color:rgb(114, 0, 180);
    padding: 6px 12px;
    background-color: #fff;
    font-weight: 400;
}
/* Fim CSS novidades */
/* Início CSS Galeria */
.galeria {
    margin: 60px auto 20px;
}
.galeria h2 {
    text-align: center;
    font-size: 24px;
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
/* Fim CSS Galeria */
/* Início CSS Footer */
.rodape {
    padding: 50px 50px 0;
}
.rodape .info-contato p {
    margin: 0px;
}
.rodape a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.rodape a:hover {
    font-weight: bold;
}
.rodape .redes-sociais {
    display: inline-block;
}
.rodape .redes-sociais img {
    width: 45px;
    height: 40px;
}
.rodape p.direitos {
    text-align: center;
    margin-top: 40px;
}

    /* CSS página media.html */

.embed-container {
    position: relative;
    padding-bottom: 0;
    height: 300px;
    max-width: 100%;
    margin-top: 18px;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.embed-container h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: solid thick rgb(213, 213, 213); */
    border-radius: 1em;
    box-shadow: gray 0.5em 0.5em 0.3em;
}

.embed-container .col-sm{
    margin-top: 10px;
}

/* CSS Contato */

.form_main {
    width: 100%;
}
.form_main h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
}
.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.text_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.formbutton[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px rgb(114, 0, 180);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgb(114, 0, 180);
    box-shadow: inset 0px 1px 0px 0px rgb(114, 0, 180);
    background-color: #8400ff;
    display: inline-block;
    border: 1px solid #8400ff;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.formbutton:hover {
    background-color: #8400ff;
}
.formbutton:active {
    position: relative;
    top: 1px;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: rgb(114, 0, 180;
    transition: all 0.5s ease 0s;
}

/* Fim CSS Contato */

/* Início mapa CSS */
.map {
    /* min-width: 300px;
    min-height: 300px; */

    width: auto;
    height: auto;
}

.map iframe {
    width: 100%;
    height: 100%;
}
/* Fim mapa CSS */